.border-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 140vh;
  border: 5px solid #000000; /* Border with blue color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  background: linear-gradient(#94d1be, #daf0ee);
}


  .top-left-box {
    width: 100px; /* Adjust the width of the box */
    height: 75px; /* Adjust the height of the box */
    border: 2px solid #000000; /* Add a border to create an outline */
    border-top: none;
    border-left:none;
    position: absolute; /* Position the box absolutely within the container */
    top: 0; /* Align the box to the top of the container */
    left: 0; /* Align the box to the left of the container */
  }
  
  .back-arrow {
    cursor: pointer; /* Add pointer cursor for clickable element */
    color: #da3d3d; /* Text color for the arrow */
    font-size: 70px; /* Increase the font size to make the arrow bigger */
    position: absolute; /* Position the arrow absolutely within the container */
    top: 10px; /* Adjust the top position to overlap with the box */
    left: 25px; /* Adjust the left position to overlap with the box */
  }
  
  .back-arrow:hover {
    font-size: 50px; 
    top: 5px; 
    left: 20px;
  }

  .bottom-buttons {
    text-align: center;
    margin-top: auto; /* Push the buttons to the bottom */
    margin-bottom: 20px; /* Add margin to create space between buttons and the bottom border */
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 100px;
    margin-right: 50px;
  }
  
  label {
    flex: 1;
    font-size: 40px;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    padding-right: 100px;
    text-align: left;
    margin-left: 75px;
    font-family: 'Young Serif', serif;
  }
  
  input[type="text"] {
    flex: 1;
    font-size: 18px;
    padding: 10px;
    white-space: nowrap; /* Prevent text from wrapping to multiple lines */
    max-width: 180px;
    font-family: 'Young Serif', serif;
    background: #9db5b2;
  }

  .adjustment-buttons {
    margin-top: 60px; /* Add some space from the elements above */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    color: #9db5b2;
  }
  
  .adjustment-button {
    width: 40px;
    height: 40px;
    font-size: 50px;
    margin: 0 20px; /* Add a gap between the buttons */
    background: none; /* Remove the background */
    border: none; /* Remove borders */
    cursor: pointer; /* Add pointer cursor */
    outline: none; /* Remove focus outline */
    display: flex; /* Use flexbox for button contents */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 0; /* Remove padding */
    color: #616283;
  }

  .current-height {
    font-size: 50px; /* You can adjust the size as needed */
    font-family: 'Young Serif', serif;
  }

  .current-height-text {
    color: #374a67;
  }
  